@model Shypp.Models.Request

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<!--------------------------------------------------------------------- -->

@if (ViewBag.Errors != null)
{
    <div class="alert alert-danger">
        @ViewBag.Errors
    </div>
}

<!--------------------------------------------------------------------- -->

@if (ViewBag.Success != null)
{
    <div class="alert alert-success">
        @ViewBag.Success
    </div>
}

<!--------------------------------------------------------------------- -->

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Request</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!-- MAX TIME ------------------------------------------------------------------- -->

        <div class="form-group">
            <label class="col-md-2 control-label">
                How long (<u>days</u>) are you willing to wait for a <b>response</b>?
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxDaysResponse, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaxDaysResponse, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />

        <!-- ORIGIN --------------------------------------------------------------------- -->

        <div class="form-group">
            <label class="col-md-2 control-label">
                Origin:
            </label>
            <div class="col-md-10">
                <select name="Address.Origin.Id" class="form-control" data-val="true" data-val-required="The origin address is required.">
                    <option value=""></option>
                    @foreach (var c in ViewBag.Addresses)
                    {

                        <option value="@c.Id">@c.City</option>
                    }
                </select>

                <span class="field-validation-valid text-danger" data-valmsg-for="Address.Origin.Id" data-valmsg-replace="true"></span>
            </div>
        </div>
        <hr />

        <!-- DESTINY ------------------------------------------------------------------- -->

        <div class="form-group">
            <label class="col-md-2 control-label">
                Destiny:
            </label>
            <div class="col-md-10">
                <select name="Address.Destiny.Id" class="form-control" data-val="true" data-val-required="The origin address is required.">
                    <option value=""></option>
                    @foreach (var c in ViewBag.Addresses)
                    {

                        <option value="@c.Id">@c.City</option>
                    }
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-for="Address.Destiny.Id" data-valmsg-replace="true"></span>
            </div>

        </div>
        <hr />

        <!-- PRICE --------------------------------------------------------------------- -->

        <div class="form-group">
            <label class="col-md-2 control-label">
                Price (Euros)
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PriceEuros, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PriceEuros, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />

        <!-- PHOTOS -------------------------------------------------------------------- -->

        <div class="form-group">
            <label class="col-md-2 control-label">
                Photos:
            </label>
            <div class="col-md-10">
                <input type="file" name="Files" class="form-control" data-val="true" data-val-required="Please choose at least one photo." multiple />
                <span class="field-validation-valid text-danger" data-valmsg-for="File" data-valmsg-replace="true"></span>
            </div>

        </div>
        <hr />

        <!-- NEW ADDRESS --------------------------------------------------------------- -->

        <div class="form-group">
            <label class="col-md-2 control-label">

            </label>
            <div class="col-md-10">
                @Html.ActionLink("Create new Address", "Create", "Address")
            </div>
        </div>
        <hr />

        <!-- SUBMIT -------------------------------------------------------------------- -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

        <!-- --------------------------------------------------------------------------- -->

    </div>
}

<!--------------------------------------------------------------------- -->

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

