@model Shypp.Models.Request

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Request id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            Client Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxDaysResponse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxDaysResponse)
        </dd>

        <dt>
            Destiny&nbsp
            @Html.DisplayNameFor(model => model.AddressDestiny.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressDestiny.City)
        </dd>

        <dt>
            Origin&nbsp
            @Html.DisplayNameFor(model => model.AddressOrigin.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressOrigin.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceEuros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceEuros)
        </dd>

        @foreach (var photo in ViewBag.photos)
        {
            <dt>
                Photo
            </dt>
            <dd>
                @photo.FileName
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
