@model Shypp.Models.Commit

<div>
    <h4>Commit</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Courier Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Courier.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Executed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Executed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceEuros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceEuros)
        </dd>

        <dt>
            Origin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.AddressOrigin.City)
        </dd>

        <dt>
            Destiny
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.AddressDestiny.City)
        </dd>

        <dd>

            <p></p>

        </dd>

        <dt>
            @Html.ActionLink("View Request", "Details", "Request", new { id = Model.Request.Id }, null)
        </dt>

        <dd>

            <p></p>

        </dd>

        <dt>
            @Html.ActionLink("Accept Commit", "Accept", "Commit", new { id = Model.Id }, null)
        </dt>

        <p></p>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
