@model Shypp.Models.Commit

<div>
    <h4>Commit</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Commit Id
        </dt>

        <dd>
            @Model.Id
        </dd>

        <dt>
            Request Id
        </dt>

        <dd>
            @Model.RequestId
        </dd>

        <dt>
            Email - Courier
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Courier.Email)
        </dd>

        <dt>
            Email - Client
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Executed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Executed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceEuros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceEuros)
        </dd>

        <dt>
            Origin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.AddressOrigin.City)
        </dd>

        <dt>
            Destiny
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.AddressDestiny.City)
        </dd>

    </dl>
</div>

<div class="alert alert-success">
    @Html.ActionLink("View Request", "Details", "Request", new { id = Model.Request.Id }, null)
</div>

@if (ViewData["userOwnsRequest"].ToString() == "True" && ViewData["requestHasAcceptedCommit"].ToString() == "False")
{
    if (Model.Accepted == false)
    {
        <div class="alert alert-info">
            @Html.ActionLink("Accept Commit", "AcceptOrDecline", "Commit", new { id = Model.Id, accepted = true }, null)
        </div>
    }

}

@if (ViewData["userOwnsRequest"].ToString() == "True")
{
    if (Model.Accepted == true)
    {
        <div class="alert alert-warning">
            @Html.ActionLink("Decline Commit", "AcceptOrDecline", "Commit", new { id = Model.Id, accepted = false }, null)
        </div>
    }
}

@if (ViewData["userOwnsCommit"].ToString() == "True")
{
    if (Model.Accepted == true)
    {

        using (Html.BeginForm("Create", "Delivery", FormMethod.Post, new { CommitId = Model.Id }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="CommitId" value="@Model.Id"/>
            <div class="form-group">
                <div class="form-controll">
                    <input type="submit" value="Inform Delivery Made!" class="btn btn-default" />
                </div>
            </div>

        }
    }
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
