@model Shypp.Models.Commit

<div>
    <h4>Commit</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Email - Courier
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Courier.Email)
        </dd>

        <dt>
            Email - Client
        </dt>

        <dd>
            @Html.DisplayFor(model=>model.Request.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Executed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Executed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceEuros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceEuros)
        </dd>

        <dt>
            Origin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.AddressOrigin.City)
        </dd>

        <dt>
            Destiny
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.AddressDestiny.City)
        </dd>

    </dl>
</div>

@ViewData["requestHasAcceptedCommit"]

<div class="alert alert-success">
    @Html.ActionLink("View Request", "Details", "Request", new { id = Model.Request.Id }, null)
</div>

@if (ViewData["userOwnsRequest"].ToString() == "True" && ViewData["requestHasAcceptedCommit"].ToString() == "False")
{
    if (Model.Accepted == false)
    {
        <div class="alert alert-info">
            @Html.ActionLink("Accept Commit", "AcceptOrDecline", "Commit", new { id = Model.Id, accepted = true }, null)
        </div>
    }
    
}

@if (ViewData["userOwnsRequest"].ToString() == "True")
{
    if (Model.Accepted == true)
    {
        <div class="alert alert-warning">
            @Html.ActionLink("Decline Commit", "AcceptOrDecline", "Commit", new { id = Model.Id, accepted = false }, null)
        </div>
    }
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
