@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shyyp</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Requests</h2>
        <p>
            <table class="table table-bordered">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Client
                    </th>
                    <th>
                        Origin
                    </th>
                    <th>
                        Destiny
                    </th>
                    <th>
                        Max Days Response
                    </th>
                    <th></th>
                </tr>
                @foreach (var req in ViewData["requests"] as IList<Shypp.Models.Request>)
                {
                    <tr>
                        <td>
                            @req.Id
                        </td>
                        <td>
                            @req.User.Email
                        </td>
                        <td>
                            @req.AddressOrigin.City
                        </td>
                        <td>
                            @req.AddressDestiny.City
                        </td>
                        <td>
                            @req.MaxDaysResponse
                        </td>
                        <td>
                            <a href="/Commit/Create/@req.Id">
                                Commit
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </p>
    </div>
</div>